@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#gameBoard {
  position: relative;
}

#gamePiece {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: grab;
}
